<h1>Books</h1>

<%= link_to 'New Book', new_book_path %><br><br>

<table>
	<tr>
		<th>Title</th>
		<th>Author</th>
		<th>Rating</th>
	</tr>

	<% @books.each do |b| %>
		<tr>
			<td><%= b.title %></td>
			<td><%= b.author %></td>
			<td><%= b.rating %></td>
			<td><%= link_to 'View', book_path(b) %></td>
		</tr>
	<% end %>
</table>