<h1><i><%= @book.title %></i></h1>

<p>
	Posted on: <%= @book.created_at.strftime("%B %d, %y") %>
</p>

<p>
	<strong>Author: </strong>
	<%= @book.author %>
</p>

<p>
	<strong>Description: </strong>
	<%= @book.description %>
</p>

<p>
	<strong>Likes: </strong>
	<%= @book.likes %>
</p>

<p>Comment:</p>
<%= render 'comments/form' %>

<p>Comments</p>
<%= render @book.comments %>


<%= link_to 'Edit', edit_book_path %>
<%= link_to 'Back', books_path %>